@charset "UTF-8";

@font-face {
    font-family:'p';
    src: url(Fonts/BalooTamma2-VariableFont_wght.ttf) format(Truetype);
}
@font-face {
    font-family:'Vertent';
    src: url(Fonts/El_Messiri/ElMessiri-VariableFont_wght.ttf) format(Truetype);
}
@font-face {
    font-family:'h2';
    src: url(Fonts/BalooBhai2-VariableFont_wght.ttf) format(Truetype);
}

:root{
    --cor01:#202C39;
    --cor0: #868686;
    --cor03:#EDB458;
    --cor04:#EAF6FF;
    --cor05:#4E1B0A;
}
*{
    padding: 0px;
    margin: 0px;
}
header {
    height: 140px;
    text-align: center;
    background-image:url(img/fundo.png);
}
header h1 {
    font-family:'Vertent';
    color:var(--cor03);
    font-size: 1,5em;
    padding-top: 20px;
    font: weight 500px;
    text-shadow: 1px 1px 7px black;
}
header > p {
    color:var(--cor04);
    font-size: 1em;
    font-family:'p';
    margin: 0px;
    padding: 0px;
}
div.header {
    margin: 0px;
    padding: 0px;
    width: 100px;
}
header img{
    width: 100px;
    opacity: 100%;
    display: block;
    margin: 0px;
    padding: 0px;
    display: block;
    float: right;
    margin: 14px 4px 0px 0px;
}
header picture > img {
    width:170px;
    height: 160px;
}
nav {
    background-color: var(--cor0);
    text-align: center;
}
nav > a {
    font-family: 'p';
    text-decoration: none;
    color: var(--cor04);
    font-size: 1.2em;
    margin-right: 20px;
    text-shadow: 1px 2px 7px black;
}
nav a:hover {
    background-color: #6e6d6b91;
    color:var(--cor03);
    box-shadow:1px 1px 5px black ;
    border-radius: 5px;
    padding: 0px 1px 0px 1px;
}
main {
    background-color: var(--cor04);
    height: 1000px;
    width: 99%;
    margin: auto;
    box-shadow: 1px 2px 15px black;
    margin-top: 15px;
    border-radius: 19px;
}
article  h2 {
    font-family: 'h2';
    padding: 8px;
    background-color: #202c39da;
    border-radius: 10px 10px 0px 0px;
    color: #EAF6FF;
    text-shadow: 1px 2px 4 15px;
}
article> p {
    font-family: 'h2';
    line-height: 23px;
    text-align: justify;
    box-shadow: 0px 8px 100px black;
    border-radius: 0px 0px 10px 10px;
    padding: 10px;
    margin-bottom: 10px;
}
article > h3{
    background-color: #1C181D;
    color: #EAF6FF;
    padding: 15px;
    border-radius: 10px 10px 0px 0px;
    margin-top: 20px;
    text-align: center;
    font-size:1.5em;
    font-family: 'vertent';
    margin: 0px;
    padding: 0px;
}
aside {
    width: 95%;
    height: 680px;
    background-color: #1C181D;
    margin: auto;
    margin-top: 6px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    gap: 10px;
}
.quadrado {
    border: 1px solid black;
    width: 400px;
    height: 500px;
    border-radius: 10px;
    background-color:var(--cor04);
    display: inline-block;
    margin-top: 30px;
    
}
#q1 > h4 {
    text-align: center;
    color: var(--cor03);
    font-family: 'vertent';
    font-size: 1.8em;
    margin-top: 5px;
}
#q1 > p {
    color: #202C39;
    text-align: center;
    font-family: 'h2';
    font-size: 1.3em;
}
#q2 > h4 {
    text-align: center;
    color: var(--cor03);
    font-family: 'vertent';
    font-size: 1.8em;
    margin-top: 5px;
}
#q2 > p {
    color: #202C39;
    text-align: center;
    font-family: 'h2';
    font-size: 1.3em;
}
